* {
	padding: none;
	margin: 0px;
	box-sizing: border-box;
}

.navigation-bar {
	background-color: #252d4a;
	color: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
}

.logo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
nav ul {
	list-style-type: none;
	margin-left: auto;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav li a {
	text-decoration: none;
	color: rgb(120, 123, 187);
}

nav li a:hover {
	text-decoration: underline;
	color: rgb(140, 145, 233);
}

legend {
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

legend > #sign-up-icon {
	width: 40px;
	height: 30px;
}
body {
	min-height: 100vh;
	position: relative;
	background-color: #f3f4f6;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	font-weight: 900;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.field {
	margin: auto;
	width: 600px;
	height: auto;
	border: 1px black solid;
	border-radius: 10px;
	background-color: rgba(47, 69, 134, 0.835);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	align-items: center;
	text-align: center;
	padding: 20px;
	margin-top: 10%;
}

.input-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.inline {
	margin: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
	color: white;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
	width: 200px;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	outline: none;
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border: none;
	font-size: 15px;
	color: black;
	text-align: center;
}

button[type="submit"] {
	background-color: #12e319;
	color: white;
	cursor: pointer;
	outline: none;
	border: none;
}

button[type="submit"]:hover {
	background-color: #1a9b1e;
}

.error-message {
	color: rgb(254, 47, 0);
	margin: auto;
	margin-bottom: 10px;
}

footer {
	background-color: #232f56;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* testing */

#icons {
	background-color: #252d4a;
	width: 30px;
	height: 30px;
}
